#canvas-container {
	position: relative;
	font-family: Oswald;
	display: block;
	width: 400px;
	height: 600px;
	margin: 0 auto;
}

#canvas {
	display: block;
	margin: 0 auto;
}

#canvas-container #btn-pause {
	position: absolute;
	right: 16px;
	top: 24px;
	background-image: url(../images/icon-pause.png);
	background-repeat: no-repeat;
	height: 16px;
	width: 16px;
}

#canvas-container #game-subtitle {
	position: absolute;
	bottom: 2px;
	left: 34%;
	color: white;
	font-size: 10px;
	word-spacing: 9px;
}

#canvas-container #level-title {
	position: absolute;
	left: 38%;
	top: 45%;
	color: white;
	font-size: 16px;
}

#canvas-container #level-msg {
	position: absolute;
	left: 20%;
	top: 50%;
	color: white;
	font-size: 16px;
}


#screen-overlay {
	position: absolute;
	display: block;
	margin: 0 auto;
	left: 12%;
	text-align: center;
	top: 300px;
	height: 300px;
	width: 300px;
	background: none;
	z-index: 10;
}

#screen-overlay p {
	color: purple;
	font-size: 26px;
	text-align: center;
}

#screen-overlay #game-title {
	font-size: 70px;
	color: white;
}

#btn-continue {
	position: absolute;
	background-color: red;
	border-radius: 5px;
	padding:5px;
	top:40%;
	left: 42%;
}
